/*
 * Copyright (c) 2022, Edge Impulse
 *
 */

&i2c1 {
    clock-frequency = <I2C_BITRATE_FAST>;
    vm3011: vm3011@60  {
        compatible = "vesper,vm3011";
        label = "VM3011";
        reg = <0x60>;
        clk-pin = <41>;
        data-pin = <27>;
        dout-gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
    };
};

/ {
	npm1100_force_pwm_mode: npm1100_force_pwm_mode {
		status = "okay";
	};

	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
		nordic,pm-ext-flash = &mx25r64;
	};

	aliases {
		light0 = &bh1749;
		bme68xi2c1 = &i2c1;
		mic0 = &i2c1;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};
